.stickynotes-sticky {
    all           : unset;
    position      : absolute;
    display       : block;
    opacity       : 0.85;
    border-radius : 2px;
    z-index       : 10000;
    box-shadow    : 2px 2px 8px 2px rgba(128,128,128,0.75);
    cursor        : pointer;
    font-family   : Arial, Helvetica, sans-serif;
}

.stickynotes-sticky-minimized {
    border-radius : 2px;
    box-shadow    : 15px 0px 32px -12px rgba(128,128,128,0.75);
    width         : 44px;
    height        : 20px;
}

.stickynotes-sticky-dragging {
    cursor : grab;
}

.stickynotes-band {
    width            : 12px;
    height           : 100%;
}

.stickynotes-toolbar {
    all           : unset;
    position      : relative;
    display       : block;
    width         : 100%;
    height        : 26px;
    margin        : 0px;
    padding       : 2px;
    box-sizing    : border-box;
}

.stickynotes-toolbar-button {
    all              : unset;
    color            : #FFFFFF;
    background-size  : contain;
    font-family      : fantasy;
    font-weight      : bold;
    font-size        : 20px;
    line-height      : 0px;
    width            : 22px;
    height           : 22px;
    top              : 0px;
    display          : inline-block;
    text-align       : center;
    border-radius    : 2px;
}

.stickynotes-toolbar-button-active,
.stickynotes-toolbar-button:focus,
.stickynotes-toolbar-button:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

.stickynotes-delete-button {
    float            : left;
    background-image : url('delete.png');
}
.stickynotes-delete-button:hover {
    background-image : url('delete-hover.png');
}

.stickynotes-menu-button {
    float            : right;
    background-image : url('menu.png');
}
.stickynotes-menu-button:hover {
    background-image : url('menu-hover.png');
}

.stickynotes-edit-tag-button {
    float            : right;
    background-image : url('edit-tag.png');
}
.stickynotes-edit-tag-button:hover {
    background-image : url('edit-tag-hover.png');
}

.stickynotes-minimize-button {
    float            : left;
    background-image : url('minimize.png');
}
.stickynotes-minimize-button:hover {
    background-image : url('minimize-hover.png');
}

.stickynotes-textarea:focus,
.stickynotes-textarea {
    display          : block;
    background-color : transparent;
    border           : none;
    margin           : 0px;
    overflow         : auto;
    font-size        : 13px;
    font-weight      : normal;
    line-height      : 14px;
    font-family      : trebuchet ms;
    color            : inherit;
    box-sizing       : border-box;
    width            : 100%;
    height           : calc(100% - 26px);
    margin           : auto;
    padding-top      : 4px;
    padding-left     : 4px;
    cursor           : default;
}

.stickynotes-menu {
    position: absolute;
    width: 100%;
}

.stickynotes-menu-item {
    all              : unset;
    float            : left;
    width            : 100%;
    height           : 32px;
    font-weight      : bold;
    line-height      : 30px;
    box-sizing       : border-box;
    background-color : rgb(200, 200, 200);
    color            : black;
}

.stickynotes-menu-item:hover {
    background-color : rgb(160, 160, 160);
}
.stickynotes-menu-icon {
    float           : left;
    display         : inline-block;
    width           : 32px;
    height          : 32px;
    background-size : contain;
}

.stickynotes-icon-color {
    background-image : url('color.png');
}

.stickynotes-icon-page-option {
    background-image : url('page-option.png');
}

.stickynotes-icon-back {
    background-image : url('back.png');
}
.stickynotes-icon-close {
    background-image : url('close.png');
}

.stickynotes-button {
    font-weight: bold;
    padding: 4px 16px;
    background-color: #248;
    color: #fff;
    border-style: none;
}

.stickynotes-dialog {
    position         : absolute;
    width            : 200px;
    background-color : rgb(200, 200, 200);
    border-radius    : 4px;
    box-shadow       : 2px 2px 8px 2px rgba(128,128,128,0.75);
}

.stickynotes-menu-dialog {
    height: 250px;
}

.stickynotes-tags-dialog {
    height: 120px;
}

.stickynotes-navbar {
    width         : 100%;
    height        : 32px;
    line-height   : 32px;
    text-align    : center;
    font-weight   : bold;
    border-bottom : 1px solid rgb(160, 160, 160);
}

.stickynotes-navbar-title {
    width : calc(100% - 32px);
    color : black;
}

.stickynotes-navbar-bar-button {
    float           : left;
    width           : 32px;
    height          : 100%;
    background-size : contain;
}

.stickynotes-dialog-content {
}

.stickynotes-color-picker {
}

.stickynotes-color-picker-item {
    float         : left;
    width         : 40px;
    height        : 40px;
    margin        : 5px;
    border-radius : 4px;
}

.stickynotes-color-picker-item:hover {
    cursor: pointer;
    opacity: .8;
}

.stickynotes-tag-editor {
}

.stickynotes-tag-editor-input {
    margin     : 10px;
    width      : calc(100% - 20px);
    box-sizing : border-box;
}

.stickynotes-tag-editor-button {
    margin : 4px 12px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .stickynotes-delete-button {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/delete.png');
    }
    .stickynotes-delete-button:hover {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/delete-hover.png') !important;
    }
    .stickynotes-menu-button {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/menu.png') !important;
    }
    .stickynotes-menu-button:hover {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/menu-hover.png') !important;
    }
    .stickynotes-edit-tag-button {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/edit-tag.png') !important;
    }
    .stickynotes-edit-tag-button:hover {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/edit-tag-hover.png') !important;
    }
    .stickynotes-minimize-button {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/minimize.png') !important;
    }
    .stickynotes-minimize-button:hover {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/minimize-hover.png') !important;
    }
    .stickynotes-icon-color {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/color.png') !important;
    }
    .stickynotes-icon-page-option {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/page-option.png') !important;
    }
    .stickynotes-icon-back {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/back.png') !important;
    }
    .stickynotes-icon-close {
        background-image : url('chrome-extension://__MSG_@@extension_id__/content_scripts/close.png') !important;
    }
}
