.stickynotes-sticky {
    all           : unset;
    position      : absolute;
    display       : block;
    opacity       : 0.85;
    border-radius : 2px;
    z-index       : 10000;
    box-shadow    : 2px 2px 8px 2px rgba(128,128,128,0.75);
    cursor        : pointer;
}

.stickynotes-sticky-minimized {
    border-radius : 2px;
    box-shadow    : 15px 0px 32px -12px rgba(128,128,128,0.75);
    width         : 40px;
    height        : 20px;
}

.stickynotes-sticky-dragging {
    cursor : grab;
}

.stickynotes-band {
    width            : 6px;
    height           : 100%;
}

.stickynotes-toolbar {
    all           : unset;
    position      : relative;
    display       : block;
    width         : 100%;
    height        : 26px;
    border-bottom : solid 1px yellow;
    margin        : 0px;
    padding       : 2px;
    box-sizing    : border-box;
}

.stickynotes-toolbar-button {
    all              : unset;
    color            : #FFFFFF;
    background-size  : contain;
    font-family      : fantasy;
    font-weight      : bold;
    font-size        : 20px;
    line-height      : 0px;
    width            : 22px;
    height           : 22px;
    top              : 0px;
    display          : inline-block;
    text-align       : center;
    border-radius    : 2px;
}

.stickynotes-toolbar-button:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

.stickynotes-delete-button {
    float            : left;
    background-image : url('delete.png');
}
.stickynotes-delete-button:hover {
    background-image : url('delete-hover.png');
}

.stickynotes-menu-button {
    float            : right;
    background-image : url('menu.png');
}
.stickynotes-menu-button:hover {
    background-image : url('menu-hover.png');
}

.stickynotes-edit-tag-button {
    float            : right;
    background-image : url('edit-tag.png');
}
.stickynotes-edit-tag-button:hover {
    background-image : url('edit-tag-hover.png');
}

.stickynotes-minimize-button {
    float            : left;
    background-image : url('minimize.png');
}
.stickynotes-minimize-button:hover {
    background-image : url('minimize-hover.png');
}

.stickynotes-textarea:focus,
.stickynotes-textarea {
    all              : unset;
    background-color : transparent;
    border           : none;
    margin           : 0px;
    overflow         : auto;
    font-size        : 13px;
    font-weight      : normal;
    line-height      : 14px;
    font-family      : trebuchet ms;
    box-sizing       : border-box;
    width            : 100%;
    height           : calc(100% - 26px);
    margin           : auto;
    padding-top      : 4px;
    padding-left     : 4px;
    cursor           : default;
}
